* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-container {
    background-color: rgb(3, 208, 235);
    height: 15vh;
    box-shadow: 0px 0px 17px 7px black;
}

nav {
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 15vh;
}

.logo img {
    height: 100%;
    border-radius: 20%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.nav-links li a:hover {
    color: rgb(255, 255, 255);
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: transform(0.4);
}

.arrow {
    height: 5.5vh;
    width: 30px;
    transform: translateY(70%);
    display: none;
}

.line1,
.line2,
.line3 {
    height: 30%;
    width: 100%;
    margin-top: 2px;
    background-color: aliceblue;
    border-radius: 2px;
}

@media screen and (max-width:840px) {
    .nav-links {
        width: 60%
    }
}

@media screen and (max-width:574px) {
    .nav-links {
        position: fixed;
        top: 15vh;
        right: 0;
        background-color: rgb(3, 208, 235);
        flex-direction: column;
        height: 85vh;
        width: 80%;
        transform: translateX(100%);
        transition: transform(0.6);
    }
    .arrow {
        display: block;
    }
}

.display {
    transform: translateX(0%);
}

.toggle1 {
    transform: rotate(45deg) translate(9px, 7px);
    transition: transform 0.6s;
}

.toggle2 {
    display: none;
}

.toggle3 {
    transform: rotate(-45deg) translateX(2px);
    transition: transform 0.6s;
}

.img {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/pexels-pixabay-267885.jpg);
    background-position: center;
    background-size: cover;
}

.box {
    max-width: 400px;
    width: 100%;
}

.box .search-box {
    position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#check:checked~.search-box {
    max-width: 380px;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #FFF;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #FF676D;
    font-size: 20px;
    border-radius: 25px;
}

#check:checked~.search-box .icon {
    background: #FF676D;
    color: #FFF;
    width: 60px;
    border-radius: 0 25px 25px 0;
}

#check {
    display: none;
}